ca=null
always-auth=true
registry=https://nexus.usehurrier.com/repository/logistics-npm-group/
//nexus.usehurrier.com/repository/logistics-npm-group/:_authToken=NpmToken.60b8d5a6-1789-3a2d-8f27-558c876f81fd
//nexus.usehurrier.com/repository/logistics-npm-private/:_authToken=NpmToken.60b8d5a6-1789-3a2d-8f27-558c876f81fd
