ca=null
always-auth=true
registry=https://nexus.usehurrier.com/repository/logistics-npm-group/
//nexus.usehurrier.com/repository/logistics-npm-group/:_authToken=${NEXUS_NPM_TOKEN}
//nexus.usehurrier.com/repository/logistics-npm-private/:_authToken=${NEXUS_NPM_TOKEN}
